@import url('https://fonts.googleapis.com/css?family=Caveat|Montserrat&display=swap');
body {
  margin: 0;
  font-family: 'Montserrat' !important;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Montserrat' !important;

}

.BookingMenu a {
  text-decoration: none;
  font-family: 'Montserrat' !important;
  cursor: pointer;
  color: white;

}
.BookingMenu a:active {
  color: rgb(51, 9, 16);
  
}

.MainPage{
  height: 100vh;
  width: 100vw;
}

.insidePage{
  height: 91%;
  width: 100%;
}

.FrontCover{
  z-index: 20;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(35, 36, 35, 0.7);
}

.sideBar .MuiDrawer-paper{
  background-color: rgba(35, 36, 35, 0.7);

}

.sideList *{
  color: white !important;
 
  animation: glow 1s ease-in-out infinite alternate !important;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
.logo{
  font-size: 30px !important;
  text-align: center;
  margin: auto;
  color: aliceblue;
  padding: 10px;
  font-family: 'Caveat', cursive !important;

}

.FrontMain{
  height: 100%;
  width: 100%;
  position: relative;
  background-color: black;
}

.HeroHolder{
display: flex;
width: 100%;
height: 100%;
flex-direction: column;
justify-content: center;
align-items: center;
}

.hero{
  color: aliceblue;
  font-size: 30px;
  font-family: 'Caveat', cursive !important;
  text-align: center;
}

.homeName a {
  text-decoration: none;
  font-family: 'Montserrat' !important;
  cursor: pointer;
  color: white;
}

.myVideo{
  /* position: fixed;
  right: 0;
  bottom: 0; */
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 90%;
 
}
.videoProp{
  width: 25%;
  height: 100% !important;
}

@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ 
.videoProp{
  width: 100%;
  height: 90%;
}
.videoProp:nth-of-type(2),.videoProp:nth-of-type(3),.videoProp:nth-of-type(4) {
  display: none;
}
}
.videoProp{
  width: 100%;
  height: 90%;
}
@media (min-width:481px)  { 
  .videoProp:nth-of-type(2),.videoProp:nth-of-type(3),.videoProp:nth-of-type(4) {
    display: none;
  }
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  { 
  
  .videoProp{
    width: 50%;
    height: 100%;
  }
  .videoProp:nth-of-type(2) {
    width: 50%;
    height: 100%;
    display: block;
  }
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { 
  .videoProp{
    width: 50%;
    height: 100%;
  }
  .videoProp:nth-of-type(2) {
    width: 50%;
    height: 100%;
    display: block;
  }
  /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ 
  .videoProp{
    width: 25%;
    height: 100%;
  }
  .videoProp:nth-of-type(2),.videoProp:nth-of-type(3),.videoProp:nth-of-type(4) {
    width: 25%;
    height: 100%;
    display: block;
  }
}
